<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnyiNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C51ED1991EACE38C008FB270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C51ED1B21EACE38C008FB270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C51ED1BD1EACE38C008FB270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
